<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <lookupManager>
      <patch:attribute name="defaultProvider">akamai</patch:attribute>
      <providers>
        <add name="akamai" type="Foundation.Akamai.GeoIp.LookupProvider, Foundation.Akamai"/>
      </providers>
    </lookupManager>
    <pipelines>
      <commitSession>
        <processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateGeoIpData, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </commitSession>
      <startTracking>
        <processor patch:instead="processor[@type='Sitecore.Analytics.Pipelines.StartTracking.UpdateGeoIpData, Sitecore.Analytics']" type="Foundation.Akamai.Pipelines.UpdateGeoIpData,Foundation.Akamai"/>
      </startTracking>
      <createVisit>
        <processor type="Sitecore.Analytics.Pipelines.CreateVisits.UpdateGeoIpData, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </createVisit>
      <ensureClassification>
        <processor type="Sitecore.Analytics.Pipelines.EnsureClassification.UpdateGeoIpData, Sitecore.Analytics">
          <patch:delete/>
        </processor>
      </ensureClassification>
    </pipelines>
  </sitecore>
</configuration>